div.logo {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    /* border-style: solid;
    border-color: blue; */
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    color: goldenrod;
    margin: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

[class*="grid-contenedor-"] {
    display: grid;
    gap: 10px;
}

[class*="grid-contenedor-"] > div {
    color: black;
    /* background-color: black; */
    border-color: black;
    border-radius: 30px;
    border-style: solid;
    /* text-align: center; */
    font-size: 30px;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'Russo One', sans-serif;
    display: flex;
    flex-wrap: wrap;
	/* align-items: center; */
	justify-content: center;    
}

.menuPrincipal { grid-area: pri; 
                 position: sticky;
                 top: 0px;
                 line-height: 55px;
                 /* background-color: rgba(0, 191, 255, 0) !important; */
                 border-color: grey !important;
                 justify-content: center !important;
                 align-content: center;
                 /* align-items: center; */
                 height: 100px;
                 display: flex;
                 flex-wrap: wrap;
                 overflow: hidden;
                 z-index: +20;
}

.menuPrincipal img {
    position: absolute;
    min-height: 150px;
    min-width: 1500px;
    z-index: -1;
}

.menuLateral { grid-area: lat;
               width: 250px;
               /* min-width: 250px; */
               /* max-width: 50%; */
               display: flex;
               flex-wrap: wrap;
               flex-flow: column;
               overflow: auto;
               justify-content: center;
               align-content: center;
}

.contenido { grid-area: con;
             /* background-color: rgba(255, 255, 255, 0.3) !important; */
             border-color: white !important;
             display: flex;
             flex-wrap: wrap;
             flex-flow: row;
}

.pieDePagina { grid-area: pie;
    max-height: 100px;
    min-width: 250px;
    /* min-width: 50%; */
}

[class*="con-"] {
    display: flex;
    flex-wrap: wrap;
}

/* [class*="con-"], [calss*="text"] { */
/* .contenido > div { */
[class*="foto"] {
    position: relative;
    color: white;
    /* background-color: rgba(25, 114, 25, 0.8); */
    border-color: grey;
    border-style: solid;
    border-radius: 30px;
    height: 400px;
    /* min-width: 200px; */
    width: 250px;
    display: inline-flex;
    /* text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center; */
    /* margin-left: 2px;
    margin-bottom: 2px; */
    margin: 2px;
    z-index: +10;
    overflow: hidden;
    flex-basis:initial;
}

[class*="foto"] img {
    position: absolute;
    height: 400px;
    z-index: -1;
}

h4 {
    color: goldenrod;
    font-weight: 900;
}

[class*="text"] {
    color: black;
    font-size: 1.3rem;
    background-color: rgba(128, 128, 128, 0.5);
    border-color: grey;
    border-style: solid;
    border-radius: 30px;
    height: 400px;
    /* min-width: 200px; */
    width: 250px;
    display: none;
    /* flex-flow: row; */
    /* text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center; */
    /* margin-left: 2px; */
    overflow: auto;
}

table {
    border: collapse;
}

th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    text-align: left;  
}

td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    text-align: center;
    align-content: center;
}

/* div.con-velo:hover + .textVelo{
    display: flex;
} */

/* [class*="con-"]:hover + [class*="text"] {
    display: flex;
} */

/* [class*="con-"]:active {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: auto;
} */

@keyframes pasarHoja {
    /* 0% {transform: rotateY(-90deg);} */
    0% {transform: translateX(250px);}
    50% {transform: rotateY(-90deg);}
}

@keyframes desplazarHoja {
    0% {transform: rotateY(90deg);}
    /* 50% {transform: translateX(-250px);} */
    /* 100%{transform: translateX(250px);} */
}

/* [class*="foto"]:active { */
.activaFoto {
    animation-name: pasarHoja;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    display: inline-flex !important;
    width: 600px;
    height: 400px;
    overflow: auto;
}

/* [class*="foto"]:active + div { */
.activaText {
    animation-name: desplazarHoja;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    display: inline-flex !important;
    width: 400px;
    height: 400px;
    order: -1;
    overflow: auto;
}

.displayNone {
    display: none !important;
}

/* [class*="con-"]:active > div {
    display:inline-flex;
} */

/* [class*="con-"]:active ~ div {
    display: none;
} */

/* [class*="con-"] {
    display: inline-flex;
} */

div.contboton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    border-width: 5px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    /* background-color: deepskyblue; */
    background-color: black;
    /* background-color: rgba(128, 128, 128, 1); */
    padding: 0px 20px 0px;
    text-decoration: none;
    font-size: 30px;
    height: 40px;
}

a.boton {
    /* color: white; */
    color: goldenrod;
    /* border-width: 5px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 10px; */
    text-decoration: none;
    font-size: 30px;
    /* margin: 10px; */
}

div.contboton:hover {
    background-color: rgba(128, 128, 128, 1);
}

div.contboton:active {
    transform: translateY(4px);
}


@media only screen and (max-width: 800px) {
    .grid-contenedor-1 {
        /* grid-template: 1fr 1fr 9fr 1fr / 100%; */
        grid-template-areas: 'pri'
                             'lat'
                             'con'
                             'pie';
    }
    .menuLateral {width: 100%;}
    .menuPrincipal {height: 150px;}

    /* .con-velo:active {
        display: flex !important;
        background-color: blue;
    } */
    /* .con-velo:active > div {
        display: flex !important;
        background-color: blue;
    } */
}

@media only screen and (min-width: 800px) {
    .grid-contenedor-2 {
        /* grid-template: 1fr 8fr 1fr / 1fr 2fr; */
        grid-template-areas: 'pri pri'
                             'con con'
                             'lat pie';
    }
    .menuLateral {width: 100%;}

    /* .contenido:active { grid-area: con;
        background-color: rgba(255, 255, 255, 0.3) !important;
        border-color: rgba(255, 255, 255, 0) !important;
        display: flex;
        flex-wrap: wrap-reverse;
        flex-flow: column;
} */
    /* [class*="con-"]:active {
        order: -1;
    } */
    /* .menuLateral {width: 48vw;}
    .pieDePagina {width: 48vw;} */
    /* [class*="con-"]:active {
        order: -1;
    } */
}

@media only screen and (min-width: 1200px) {
    .grid-contenedor-3 {
        /* grid-template: 1fr 4fr 1fr / 1fr 4fr; */
        grid-template-areas: 'pri pri'
                             'lat con'
                             'pie pie';
    }
    
/*    [class*="con-"]:active {
        order: -1;
    }*/
    /* .menuLateral {max-width: 20%;} */
    /* .pieDePagina {width: 100%;} */
}

.colores{
    position:fixed;
    top: 30vh;
    left: 45vw;
    border-style: solid;
    border-color: grey;
    background-color: grey;
    width: 200px;
    height: 30px;
    display: none;
    flex-flow: row;
    justify-content:space-evenly;
    /* align-content: center !important; */
    align-items: center;
    z-index: +20;
}

[class*="cuadro"] {
    position: relative;
    width: 20px;
    height: 20px;
}

#colorCarroceria {
    width: 60px;
    height: 40px;
    text-align: center; 
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.menuOpcionales {
    color: black;
    font-size: 1.3rem;
    background-color: rgba(128, 128, 128, 0.5);
    border-color: grey;
    border-style: solid;
    border-radius: 30px;
    display: none;
    width: 400px;
    height: 400px;
    overflow: auto;
    /* align-items:stretch; */
    align-content:stretch;
    justify-content: center;
    margin: 2px;
}

.refConfig {
    width: 230px;
    /* display: inline-flex;
    align-items: center; */
    justify-content: center;
    border-width: 5px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    max-height: 80px;
    margin: 5px;
    color: black;
    font-size: 1.3rem;
}

.displayConfig {
    position:fixed;
    top: 25vh;
    left: 40vw;
    display: inline;    
    z-index: 100;
    color: black;
    font-size: 1.3rem;
    background-color: rgb(223, 219, 219);
    border-color: grey;
    border-style: solid;
    border-radius: 30px;
    height: 400px;
    min-width: 200px;
    overflow: auto;
    font-family: 'Russo One', sans-serif;
}